@import '../../custom.scss';

.card-group > *.card {
  max-width: inherit;
  max-height:inherit;
}
.btn-outline-light{
font-size: .7rem;
margin: 1.2rem;
&:hover{
  background:$color-primary;
  a{color:$color-muted}}
&>a{
color:$color-light;
}
}