.br-none{
  border-radius: 0!important;
}
button{
  border-radius: 0!important;
}
.btn-outline-light{
font-size: .7rem;
margin: 1.2rem;
&>a{
color:#fff;
}
}
.card-title::after{
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    content: '';
}